<ion-view  class=" " id="favourite" title="Add Brand">
    <ion-content class="has-header" padding="true" ng-init="loadCategory();loadBrand()">
<div>
<form name="signupForm" class="list " id="signup-form5">
    <ion-list class=" " id="signup-list3">
      <div ng-if="progress>0" ng-hide="progress>=100">
        <progress class="positive" max="100" value="{{ progress }}"> </progress>
        <div id="progressbarlabel">{{ progress }} %</div>
      </div>
      <div class="row" style="flex-wrap: wrap;">

        <div class="col col-25" ng-repeat="image in imgset3">
            <img ng-src="{{ image }}" class="imgStyle">
            <label ng-click="deleteImage(images.$id)">
              <a class="button button-icon icon ion-android-cancel" style="margin: -50px 0px 0px 3px;color: #48b3e2;"></a>
            </label>
        </div>
        <div class="buttons col col-25" ng-show="image.length < 0">
          <button class="fileUpload button-positive activated btnRadious roundBtn">
             Click here to add images
              <input type="file" file-model="uploadFile" class="upload">
          </button>
        </div>
      </div>
      <div class="row" ng-show="!image || image.length === 0">
        <div class="col"></div>
        <div class="buttons">
          <button class="fileUpload button-positive activated btnRadious roundBtn">
            Click here to add images
              <input type="file" file-model="uploadFile" class="upload">
          </button>
        </div>
        <div class="col"></div>
      </div>

      <label class="item item-input item-floating-label">
        <span class="input-label lblname">Brand Name</span>
        <input  ng-model="brandObj.name" type="text" placeholder="Breand Name">
      </label>


    </ion-list>
    <div class="spacer space"></div>
    <button ng-click="addBrand()" class=" button button-assertive  button-block btnradius"  id="signup-button5">Add Brand</button>
    <div></div>
    <div>
      <ion-list class="list">
        <ion-item ng-repeat="data in brandload" item="data" ng-if="$index < brandload.length">
          <!-- brandload -->
          <h2>Brand Name:&nbsp;&nbsp;{{ data.name }}</h2>
          <i class="icon icon ion-edit item-icon-right assertive editiocnbrand" ng-click="modal.show()" ng-if="user.isAdmin === true"></i>
          <i class="icon ion-trash-b item-icon-right assertive deleteiocnbrand" ng-click="deletebrand(brandload[$index].$id)" ng-if="user.isAdmin === true"></i>
        </ion-item>
      </ion-list>
    </div>
</form>
</div>

<script id="templates/addbrand.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive">
      <h1 class="title">Update Brand</h1>
      <i class="icon ion-close-circled seticon" ng-click="modal.hide()"></i>
    </ion-header-bar>
    <ion-content class="padding">
      <label class="item item-input item-floating-label">
        <span class="input-label lblname">Brand Name</span>
        <input  ng-model="data.name" type="text" placeholder="Breand Name">
      </label>
          <div class="spacer space"></div>
          <button  ng-click="updatebrand(brandname);modal.hide()" class=" button button-assertive  button-block btnradius"  id="signup-button3">Update Brand</button>
    </ion-content>
  </ion-modal-view>
</script>
</ion-content>
</ion-view>
