<ion-view  class=" " id="favourite" title="Add Product">
    <ion-content class="has-header" padding="true" ng-init="loadCategory();loadBrand();loadSize()">
<div>
      <form ng-hide="!!productId" id="image-form" action="#">
        <h5 class="m-t-sm m-b-xs lblname">Upload an image</h5>
        <div ng-if="progress>0" ng-hide="progress>=100">
          <progress class="positive" max="100" value="{{ progress }}"> </progress>
          <div id="progressbarlabel">{{ progress }} %</div>
        </div>
        <div class="row" style="flex-wrap: wrap;">
          <div class="col col-25" ng-repeat="image in imgset">
              <img ng-src="{{ image }}" class="imgStyle">

              <label ng-click="deleteImage(image.$id)">
                <a class="button button-icon icon ion-android-cancel" style="margin: -50px 0px 0px 3px;color: #48b3e2;"></a>
              </label>
          </div>

          <div class="buttons col col-25" ng-show="image.length < 0">
            <button class="fileUpload button-positive activated btnRadious roundBtn">
              Click here to add images
                <input type="file" file-model="uploadFile" class="upload">
            </button>
          </div>
        </div>
        <div class="row" ng-show="!image || image.length === 0">
          <div class="col"></div>
          <div class="buttons">
            <button class="fileUpload button-positive activated btnRadious roundBtn">
              Click here to add images
                <input type="file" file-model="uploadFile" class="upload">
            </button>
          </div>
          <div class="col"></div>
        </div>
      </form>
      <!-- for size selection modal -->
      <script id="templates/addproduct-2.html" type="text/ng-template">
        <ion-modal-view>
          <ion-header-bar class="bar bar-header bar-assertive">
            <h1 class="title">Add Product Size</h1>
            <i class="icon ion-close-circled seticon" ng-click="closeModal(1)"></i>
          </ion-header-bar>
          <ion-content class="padding">
               <ion-checkbox ng-repeat="item in size"
                             ng-model="checkItems[item.size]"
                             ng-change="print()"
                             ng-checked="checkItems[item.size]">
                             {{ item.size }}
               </ion-checkbox>
                <div class="spacer space"></div>
                <button  ng-click="save();closeModal(1)" class=" button button-assertive  button-block btnradius"  id="signup-button3">Save</button>
          </ion-content>
        </ion-modal-view>
    </script>
<!-- for size selection modal end-->

      <script id="templates/addproduct-1.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-assertive">
          <h1 class="title">Add Product Specification</h1>
          <i class="icon ion-close-circled seticon" ng-click="closeModal(2)"></i>
          <!-- <button class="button button-clear button-primary" ng-click="modal.hide()">X</button> -->
        </ion-header-bar>
        <ion-content class="padding">
          <input type="text">
          <form name="signupForm1" class="list " id="signup-form3">
              <ion-list class=" " id="{{$index+1}}" ng-repeat="item in inputs" >
                <label class="item item-input item-floating-label" ng-class="{ 'has_error' : signupForm1.title.$invalid && !signupForm1.title.$pristine }">
                  <span  class="input-label lblname"></span>
                  <input  ng-model="item.attribute" type="text" placeholder="Title" name="title" required>
                </label>
                <div ng-show="signupForm1.title.$invalid && !signupForm1.title.$pristine" ng-messages="signupForm1.title.$error">
                  <p ng-message="required" class="help-block errorcolor">Please enter product Specification Title.</p>
                </div>
                <label class="item item-input item-floating-label" ng-class="{ 'has_error' : signupForm1.description.$invalid && !signupForm1.description.$pristine }">
                  <span class="input-label lblname"></span>
                  <input  ng-model="item.value" type="text" placeholder="Description" name="description">
                </label>
                <div ng-show="signupForm1.description.$invalid && !signupForm1.description.$pristine" ng-messages="signupForm1.description.$error">
                  <p ng-message="required" class="help-block errorcolor">Please enter product Specification Description.</p>
                </div>
                <hr />
              </ion-list>
              <div class="spacer space"></div>
              <button  ng-click="addspcification(item);" class=" button button-assertive  button-block btnradius"  id="signup-button3">Save</button>
              <button ng-click="addfield(item);" class=" button button-assertive  button-block btnradius"  id="signup-button3">Add More Product Details</button>
          </form>
        </ion-content>
      </ion-modal-view>
      </script>

      <!-- Add new Product Start-->
      <form ng-hide="!!productId" name="signupForm" class="list " id="signup-form2">
        <!-- Sign up -->
          <ion-list class=" " id="signup-list3">
            <label class="item item-input item-floating-label" ng-class="{ 'has_error' : signupForm.name.$invalid && !signupForm.name.$pristine }">
              <span class="input-label lblname">Name</span>
              <input  ng-model="menuObj.name" type="text" placeholder="Name" name="name" required>
            </label>
              <div ng-show="signupForm.name.$invalid && !signupForm.name.$pristine">
                <p ng-message="required" class="help-block errorcolor">Please enter product Name.</p>
              </div>

            <label class="item item-input item-select item-floating-label">
              <span class="lblprod">
              Select Category
            </span>
              <select class="item-select" data-tap-disabled="true" ng-model="menuObj.categoryId" ng-options="obj.$id as obj.name for obj in category" ng-change="getSubCategory(menuObj.categoryId)">
                  {{category}}
              </select>
            </label>

            <label class="item item-input item-select item-floating-label">
              <span class="lblprod">
              Select subCategory
              </span>
              <select class="item-select" data-tap-disabled="true" ng-model="menuObj.subCatID" ng-options="obj.$id as obj.name for obj in selectedSubCategory">
                  {{selectedSubCategory}}
              </select>
            </label>

            <label class="item item-input item-select item-floating-label">
              <span class="lblprod">
              Select Brand
              </span>
              <select class="item-select" data-tap-disabled="true" ng-model="menuObj.brandName" ng-options="obj.name as obj.name for obj in brand ">
                {{brand}}
              </select>
            </label>

            <label  class="item  item-floating-label"  name="size"  ng-click="openModal(1)" ng-class="{ 'has_error' : signupForm.available.$invalid && !signupForm.available.$pristine }">
              <span class="lblname" >size </span>
                <p  ng-repeat="item in finalSize">
                    {{ item }}
                </p>
            </label>

            <label class="item item-input item-floating-label" ng-class="{ 'has_error' : signupForm.available.$invalid && !signupForm.available.$pristine }">
              <span   class="input-label lblname">Weight(gms)</span>
              <input  ng-model="menuObj.Weight" type="number" placeholder="Weight" name="weight" required>
            </label>

            <label class="item item-input item-floating-label" ng-class="{ 'has_error' : signupForm.available.$invalid && !signupForm.available.$pristine }">
              <span   class="input-label lblname">Barcode</span>
              <input  ng-model="menuObj.barCode" type="text" placeholder="Enter Barcode" name="barcode1" required>
            </label>

            <label class="item item-input item-floating-label" ng-class="{ 'has_error' : signupForm.available.$invalid && !signupForm.available.$pristine }">
              <span   class="input-label lblname">Manufacturer</span>
              <input  ng-model="menuObj.manufacturer" type="text" placeholder="Enter Manufacturer" name="manufacturer" required>
            </label>

            <label class="item item-input item-floating-label" ng-class="{ 'has_error' : signupForm.available.$invalid && !signupForm.available.$pristine }">
              <span   class="input-label lblname">Actual Price</span>
              <input  ng-model="menuObj.actualPrice" type="number" placeholder="Actual Price" name="actualprice" required>
            </label>

            <!-- <label class="item item-input item-floating-label" ng-class="{ 'has_error' : signupForm.available.$invalid && !signupForm.available.$pristine }">
              <span   class="input-label lblname">Available</span>
              <input  ng-model="menuObj.available" type="text" placeholder="Available" name="available" required>
            </label>
            <div ng-show="signupForm.available.$invalid && !signupForm.available.$pristine">
              <p ng-message="required" class="help-block errorcolor">Please enter available product is available?</p>
            </div> -->

            <label class="item item-input item-floating-label" ng-class="{ 'has_error' : signupForm.description.$invalid && !signupForm.description.$pristine }">
              <span   class="input-label lblname">Description</span>
              <input  ng-model="menuObj.description" type="text" placeholder="Description" name="description" required>
            </label>
            <div ng-show="signupForm.description.$invalid && !signupForm.description.$pristine" ng-messages="signupForm.description.$error">
              <p ng-message="required" class="help-block errorcolor">Please enter product description.</p>
            </div>

            <label class="item item-input item-floating-label" ng-class="{ 'has_error' : signupForm.price.$invalid && !signupForm.price.$pristine }">
              <span  class="input-label lblname">Selling Price</span>
              <input ng-model="menuObj.price" type="number" placeholder="Selling Price" name="price" required>
            </label>
            <div ng-show="signupForm.price.$invalid && !signupForm.price.$pristine" ng-messages="signupForm.price.$error">
              <p ng-message="required" class="help-block errorcolor">Please enter product price.</p>
            </div>

            <label class="item item-input item-floating-label" ng-class="{ 'has_error' : signupForm.stock.$invalid && !signupForm.stock.$pristine }">
                <span class="input-label lblname">Stock</span>
                <input  ng-model="menuObj.stock" type="number" placeholder="Stock" name="stock" required>
            </label>
            <div ng-show="signupForm.stock.$invalid && !signupForm.stock.$pristine" ng-messages="signupForm.stock.$error">
              <p ng-message="required" class="help-block errorcolor">Please enter product Stocks.</p>
            </div>
          </ion-list>

          <div  class="spacer space"></div>
          <button ng-click="openModal(2)" class=" button button-assertive  button-block btnradius" >Add Product Specification</button>
          <button ng-click="addItem(menuObj)"  type="submit" class=" button button-assertive  button-block btnradius"  id="signup-button3" >Add Menu Item</button>
      </form>
      </div>

    </ion-content>
    </ion-view>
