<ion-view  class=" " id="favourite" title="Add Size">
    <ion-content class="has-header" padding="true" ng-init="loadCategory();loadBrand()">
<div>
<form name="signupForm" class="list " id="signup-form5">
    <ion-list class=" " id="signup-list13">

      <div class="row" style="flex-wrap: wrap;">

      <label class="item item-input item-floating-label">
        <span class="input-label lblname">Type</span>
        <input  ng-model="type" type="text" placeholder="Type">
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label lblname">Size</span>
        <input  ng-model="size" type="text" placeholder="Size">
      </label>

    </ion-list>
    <div class="spacer space"></div>
    <button ng-click="addsize(type,size)" class=" button button-assertive  button-block btnradius"  id="signup-button5">Submit Size</button>
</form>
</div>
</ion-content>
</ion-view>
