<ion-view title="Checkout"  id="checkout" >
  <ion-content padding="false" class="has-header">

    <form name="checkoutForm" class="list ">

      <!--Address Header-->
      <!-- <label ng-click="addManipulation()" class="item item-input  item ic-selected" >
        <a class="icon icon-right ion-ios-location" style="margin-right: 10px;" ></a>
        Address
        <i  class="icon icon-right ion-android-add-circle" style="font-size: larger ;margin-left: 10px;"></i>
      </label> -->


      <!-- Address -->
      <ion-list ng-hide="!!addressId" ng-model="userAddress">
          <div class="checkoutAddressDiv">
            <a class="icon icon-right ion-ios-location"></a>
            <!-- <strong>{{item.nickname}}</strong> <br/> -->
            {{userAddress.city}}, {{userAddress.state}} <br/>
            Pin : {{userAddress.postalCode}}<br/>
            <!-- Phone : {{item.phone}} -->
          </div>
      </ion-list>
      <ion-list ng-if="!!addressId" ng-model="address">
          <!-- <ion-radio name="addr_group"> -->
            <div style="margin: 3%;">
            <a class="icon icon-right ion-ios-location"></a>
            <strong>Address : <br/></strong>
            {{address.name}} <br/>
            <span ng-if="address.building || address.area">{{address.building}}, {{address.area}}<br/></span>
            {{address.city}} {{address.state}}
            Pin : {{address.postalCode}}<br/>
            <span ng-if="address.phoneNumber">Phone : {{address.phoneNumber}}</span>
          <!-- </ion-radio> -->
        </div>
      </ion-list>
      <button  class="button button-positive  button-block btnradius changeAddressBtnStyle" ng-click="goAddressPage()">Change or Add Address</button>
      <!-- <ion-list ng-repeat="item in addresses" >
          <ion-radio name="addr_group" ng-value="item.$id" ng-model="$parent.address_choice">
            <a class="icon icon-right ion-ios-location"></a>
            {{item.nickname}} <br/>
            {{item.address}} <br/>
            Pin : {{item.pin}}<br/>
            Phone : {{item.phone}}
          </ion-radio>
      </ion-list> -->

      <!--Payment Header-->
      <!-- ng-click="addManipulation()" -->
      <label class="item item-input  item ic-selected" >
        <a class="icon icon-right ion-cash checkoutModepayDiv"></a>
        Mode of Pay
      </label>


      <!-- Payment Options -->
      <ion-list  ng-repeat="item in payments">
          <ion-radio name="pay_group" ng-value="item.id" ng-model="$parent.pay_choice" > {{item.name}} </ion-radio>
      </ion-list>


      <button ng-if="!!addressId" ng-click="cardDetailPage(pay_choice)" class=" button button-calm  button-block icon-right ion-android-arrow-forward ">
        PAY
      </button>
      <button ng-hide="!!addressId" ng-click="cardDetailPage(pay_choice)" class=" button button-calm  button-block icon-right ion-android-arrow-forward ">
        PAY.
      </button>
      <!-- <button ng-if="!!addressId" ng-click="pay(address,pay_choice)" class=" button button-calm  button-block icon-right ion-android-arrow-forward ">
        PAY
      </button>
      <button ng-hide="!!addressId" ng-click="pay(userAddress,pay_choice)" class=" button button-calm  button-block icon-right ion-android-arrow-forward ">
        PAY.
      </button> -->
    </form>
      <ion-list class="card">
        <div class="row" style="padding-left: 6%;font-weight: 600;color: darkgrey;">
            PRICE DETAILS
        </div>
      </ion-list>
      <ion-list class="card">
        <ion-item class="item-input" type="item-text-wrap">
          <div class="row">
            <div class="col col-50"> Price ({{item}}items) :  </div>
            <div class="col" style="text-align: right;" ng-model="total_amount"><strong> &#8377; {{price}}</strong></div>
          </div>
        </ion-item>
        <ion-item class="item-input" type="item-text-wrap">
          <div class="row">
            <div class="col col-50"> Delivery : </div>
            <div class="col" style="text-align: right;"  ng-if="weight > 1" ><strong> {{55 * weight}}</strong></div>
            <div class="col" style="text-align: right;" ng-if="weight <= 1"><strong> 55</strong></div>
            <!-- <div class="col" style="text-align: right;color: green;"><strong> Free</strong></div> -->
          </div>
        </ion-item>
      </ion-list>
      <ion-list class="card">
      <div class="row">
        <div class="col col-50" style="font-weight: 600;"> Amount Payable : </div>
        <div class="col" style="text-align: right;" ng-if="weight <= 1"><strong> {{(price + 55)}}</strong></div>
        <div class="col" style="text-align: right;" ng-if="weight > 1"><strong> {{price + (55 * weight)}}</strong></div>
      </div>
      </ion-list>

  </ion-content>


</ion-view>
