<!-- <ion-view style="" class=" " id="myCart" title="Details">
    <ion-content class="has-header" padding="true">
          <div style="min-height: 30px;" class="item item-divider">{{details.name}} </div>
          <div class="item item-body" >
            <img ng-src="{{ details.image }}" width="100%" height="auto" style="box-shadow: none;">
            <form class="list"></form>
            <div>
              {{ details.description }}
            </div>
            <div>
              <p>
                <strong class="detailsprice"> &#8377; {{ details.price }}</strong>
              </p>
            </div>
          </div>
          <div class="row detailscart">
            <div class="col col-55"><button ng-click="checkout()" class="button button-assertive button-block">Add to Cart</button></div>
            <div class="col col-45"><button ng-click="checkout()" class="button button-assertive button-block ">Buy Now</button></div>
          </div>
    </ion-content>
</ion-view> -->
<ion-view title="Product Details">

    <ion-content class="has-header" padding="true">

      <div class="item item-divider product-detail-title">{{showproductdetails.name | uppercase }} </div>
      <div class="item item-body product-detail-item">
        <ion-slide-box n-slide-changed="slideHasChanged($index)" auto-play="false"  does-continue="true" >
              <ion-slide ng-repeat="image in productimages">
                  <img  class="detailpageimg" ng-src="{{ image.$value }}">
              </ion-slide>
          </ion-slide-box>

        <form class="list"></form>
        <div>
          {{ showproductdetails.description }}
        </div>
        <div>
          <p>
            <strong class="detailsprice"> &#8377; {{ showproductdetails.price }}</strong>
          </p>
        </div>
        <div>
          <h2 style="color:red"><b>Product Specification</b></h2>
        </div>
        <hr>
        <div>
          <ul>
            <li ng-repeat="data in productSpdetails" style="font-size:15px;">
				            <span class="product-specification-span">{{ data.name }}</span> : <span>{{ data.value}}</span>
            </li>

          </ul>
        </div>


      </div>


        <!-- <div class="row detailscart">
          <div class="col col-55"><button ng-click="addToCart(menu[$index])" class="button button-assertive button-block">Add to Cart</button></div>
          <div class="col col-45"><button ng-click="buyNow()" class="button button-assertive button-block ">Buy Now</button></div>
        </div> -->

    </ion-content>
    <ion-footer-bar class="bar button-bar-footer" style="height: auto;">
        <div class="button-bar" ng-hide="user.isAdmin === true" style="position: absolute;bottom: 0;" >
          <span style="min-width: 50%;border-radius: 0px;" class="button button-dark"  ng-click="addToCart(menu[$index])">Add to Cart</span>
          <span style="min-width: 50%;border-radius: 0px;"  class="button button-balanced" ng-click="buyNow()">Buy Now</span>
       </div>
     </ion-footer-bar>

</ion-view>
