<ion-view style="" class=" " id="menu2" title="Home">
    <ion-content class="has-header" padding="false"  ng-init="loadMenu();loadCategory()">

      <!-- <ion-scroll direction="x" class="wide-as-needed">
      <div class="row textCenter">
          <span class="col bordercate" ng-repeat="cat in category" selected="true" ng-click="filterProduct(cat.$id)">{{ cat.name }}</span>&nbsp;
      </div>
      </ion-scroll> -->
      <!-- <div class="row searchsetting">
        <label class="item item-input boder">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search for Product"/>
          <span ng-repeat="item in menu | filter:item">{{ cat.name }}</span>

        </label>
      </div> -->
      <ion-slide-box class="homesliderbox">

     <ion-slide>
        <div class="slideimg">
           <img src="http://1.bp.blogspot.com/-kXS3MLcpTPw/T4rZBW2p8DI/AAAAAAAABqI/tR5aiO4Cj58/s1600/cows2.jpg">
         </div>
           <div class="card-title">Featured Product</div>
     </ion-slide>
     <ion-slide>
           <img src="http://1.bp.blogspot.com/-kXS3MLcpTPw/T4rZBW2p8DI/AAAAAAAABqI/tR5aiO4Cj58/s1600/cows2.jpg">
     </ion-slide>
     <ion-slide>
           <img src="http://1.bp.blogspot.com/-kXS3MLcpTPw/T4rZBW2p8DI/AAAAAAAABqI/tR5aiO4Cj58/s1600/cows2.jpg">
     </ion-slide>

  </ion-slide-box>
  <h2 class="homepageh2">Categories</h2>
  <div></div>
      <!-- <div class="row textCenter">
          <div class="col bordercate" ng-click="goAdminPage()" ng-if="user.isAdmin === true">Admin</div>
      </div> -->
  <div></div>

		<div class="row" ng-repeat="item in menu" ng-if="$index % 2 === 0">


			<div class="col col-50" ng-if="$index < menu.length">

				  <div class="item item-image homepageimg">
					<img class="imageset homepageimgsize" ng-src="{{ menu[$index].image }}" ng-click="goproductPage(item.$id)"/>
          <p class="textoverimg" style="color:white; font-size: large;">{{menu[$index].name}}</p>
          <i class="icon icon ion-edit item-icon-right assertive editiocnset" ng-click="gotoEditcategory(menu[$index].$id)" ng-if="user.isAdmin === true"></i>
          <i class="icon ion-trash-b item-icon-right assertive editiocnset1" ng-click="deleteitems(menu[$index].$id)" ng-if="user.isAdmin === true"></i>
				  </div>

				  <!-- <a class="item item-icon-right assertive homepageitem" href="javascript:void(0)">
					<p class="homepageprodname" ng-click="showProductInfo(menu[$index].$id)">
            {{menu[$index].name}} <br/>
						<span class="homepageprice">&#8377; {{menu[$index].price}}</span>
					</p>
					<i style="font-size: 25px; margin-right:0px;right:0px;"  ng-click="addToCart(menu[$index])" class="icon ion-ios-cart" ng-hide="user.isAdmin === true"></i>
          <i style="font-size: 25px;right:0px;" class="icon icon ion-edit" ng-click="goAdminPage(menu[$index].$id)" ng-if="user.isAdmin === true"></i>
				  </a> -->

			</div>


			<div class="col col-50 " ng-if="$index+1  < menu.length" >
<!-- ng-click="goproductPage(item.$id)" -->
				  <div class="item item-image homepageimg" >
					<img class="imageset homepageimgsize"  ng-src="{{ menu[$index+1].image }}" ng-click="goproductPage(item.$id)"/>
            <p class="textoverimg" style="color:white; font-size: large;">{{menu[$index+1].name}}</p>
            <i style="font-size: 25px;" class="icon icon ion-edit item-icon-right assertive editiocnset" ng-click="gotoEditcategory(menu[$index+1].$id)" ng-if="user.isAdmin === true"></i>
            <i class="icon ion-trash-b item-icon-right assertive editiocnset1" ng-click="deleteitems(menu[$index+1].$id)" ng-if="user.isAdmin === true"></i>
				  </div>

				  <!-- <a class="item item-icon-right assertive homepageitem" href="javascript:void(0)">
					<p class="homepageprodname" ng-click="showProductInfo(menu[$index+1].$id)">
            {{menu[$index+1].name}} <br/>
						<span class="homepageprice">&#8377; {{menu[$index+1].price}}</span>
					</p>
					<i style="font-size: 25px;right: 0px;"  ng-click="addToCart(menu[$index+1])" class="icon ion-ios-cart" ng-hide="user.isAdmin === true"></i>
            <i style="font-size: 25px;right:0px;" class="icon icon ion-edit" ng-click="goAdminPage(menu[$index+1].$id)" ng-if="user.isAdmin === true"></i>
				  </a> -->
			</div>
		</div>

	</ion-content>
</ion-view>
