<ion-view id="login" title="Login" hide-nav-bar="true">
    <ion-content padding="true">

		<form name="loginForm" class="list " id="login-form1">
            <ion-list class=" " id="login-list2">
                <div class="app-icon"></div>
                <span class="lblname" aria-label="Welcome to Aspirant Fashion" style="width: 100%;text-align: center;float: left;font-size: 24px;margin-top: 10px;margin-bottom: 10px;">Login to your account</span>
                <label class="item item-input item-floating-label">
                    <span class="input-label lblname">Email</span>
                    <input ng-model="user.email" style="color: black;" type="email" placeholder="Email">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label lblname">Password</span>
                    <input ng-model="user.password" style="color: black;" type="password" placeholder="Password">
                </label>

            </ion-list>

            <div style="height: 40px;" class="spacer"></div>
            <button  class=" button button-assertive  button-block  icon-left ion-ios-email-outline "  id="signup-button3" ng-click="loginEmail(loginForm,user)">LOGIN WITH EMAIL</button>
            <button  class=" button button-positive  button-block icon-left ion-social-facebook "  id="signup-button4" ng-click="loginWithFacebook()">LOGIN WITH FACEBOOK</button>
            <button  class=" button button-calm button-block" ng-click="guestUser()">CONTINUE AS A GUEST</button>
            <!-- <button ng-click="guestUser()" class=" button button-positive button-block">{{deviceId}}</button> -->
            <!-- <button id="login-button5" class="button button-calm  button-block icon-left ion-log-in" ng-click="guestUser()">Login</button> -->
        </form>

		<!-- <a class=" button button-stable  button-block button-clear icon-left ion-ios-email-outline " id="login-button5" ui-sref="tabsController.forgotPassword">FORGOT PASSWORD</a> -->

	</ion-content>
</ion-view>
