<ion-view  class=" " id="favourite" title="Shipping Rate">
    <ion-content class="has-header" padding="true">
<div>
<form name="signupForm" class="list " id="signup-form5">
    <ion-list class=" " id="signup-list13">

      <div class="row" style="flex-wrap: wrap;">

      <label class="item item-input item-floating-label">
        <span class="input-label lblname">State Name</span>
        <input  ng-model="shippingObj.state" type="text" placeholder="State Name">
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label lblname">Shipping Rate</span>
        <input  ng-model="shippingObj.rate" type="number" placeholder="Shipping Rate">
      </label>

    </ion-list>
    <div class="spacer space"></div>
    <button ng-click="addshippingrate(shippingObj)" class=" button button-assertive  button-block btnradius"  id="signup-button5">Submit Shipping Rate</button>

</form>
</div>
</ion-content>
</ion-view>
