<ion-view style="" class=" " id="tabsController" title="Tabs Controller" hide-nav-bar="true">
    <ion-tabs style="" id="tabsController-tabs1" class="tabs-stable ">

		<ion-tab  id="tabsController-tab1" title="LOGIN"  href="#/offers">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>

        <ion-tab  id="tabsController-tab3" title="SIGN UP"  href="#/tabsController/signup">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>

    </ion-tabs>

</ion-view>
