/* Utilities */
.app-icon {
    background: rgba(0, 0, 0, 0) url("../img/aspirant_fashion_image.png") repeat scroll center center / cover ;
    border-radius: 0%;
    height: 94px;
    margin: 0 auto;
    width: 179px;
}



.link {
    color: #116262;
    font-weight: bold;
}

h4 {
    color: #116262;
    font-size: 22px;
    margin-bottom: 16px;
}

h4:first-child {
    border-top: none;
    padding-top: initial;
}

.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.no-border {
    border: none;
}

.static {
    position: static;
}

.bold {
    font-weight: bold;
}

.border-top {
    border-top: solid 1px #ccc;
    padding-top: 30px;
}

.blue-grey-900 {
    background-color: #263238 !important;
    color: #fff;
}
/* Menu */

.menu .bar.bar-header.expanded {
    background-image: url('../img/material-graphite.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.menu.menu-left * {
    font-weight: normal;
}

.item-radio input:checked ~ .item-content {
    background: transparent;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.item.item-radio .radio-icon {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.item.item-radio:active .radio-icon {
    opacity: 0;
    transform: scale(1.6);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.directions.button-bar {
    margin: 0 auto;
    width: 33.333%;
}

.directions.button-bar button {
    line-height: 26px;
}

.ion-arrow-right-c.top-left:before {
    transform: rotate(-135deg);
}

.ion-arrow-right-c.top-right:before {
    transform: rotate(-45deg);
}

.ion-arrow-right-c.bottom-left:before {
    transform: rotate(-225deg);
}

.ion-arrow-right-c.bottom-right:before {
    transform: rotate(45deg);
}

#modal {
    background-color: #ef4e3a;
    border-radius: 100%;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 50%;
    bottom: 0;
    opacity: 0;
    width: 700px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.expand #modal {
    background-color: #DBDBDB;
    border-radius: 0;
    border-top: solid 4px #ef4e3a;
    opacity: 1;
    z-index: 9;
}
/* CODE */

.code {
    color: #333;
    font-family: monospace;
    padding: 10px;
    white-space: pre;
}

.code-wrapper {
    padding-bottom: 30px;
    padding-top: 15px;
}

.code-wrapper::before {
    color: #1B5E20;
    font-family: "Ionicons";
    speak: none;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: '\f216 ';
}

.code-wrapper.active::before {
    content: '\f207 ';
}

.code-wrapper .toggle {
    color: #4CAF50;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 8px;
    text-decoration: underline;
}

.code-wrapper .code {
    opacity: 0;
    margin-top: -20px;
    height: 0;
    overflow: hidden;
    position: absolute;
    transition: 0.1s all ease-in-out;
    z-index: 9999999999;
}

.code-wrapper.code-wrapper-last .code {
    position: relative;
}

.code-wrapper.active .code {
    background: #f9f9f9;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    left: 16px;
    height: initial;
    margin-top: 15px;
    padding: 15px;
    right: 16px;
    opacity: 1;
    transition: 0.3s all ease-in-out;
    width: initial;
}

.popover {
    left: initial !important;
    right: 16px !important;
    top: 16px !important;
}
.platform-android .popover{
margin-top:10px;
}













/*New Profile cover page*/


.profile-nav .user-heading {
  /*background: #387ef5;*/
  background-image: url('../img/cover4.jpg');
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 5px;
  text-align: center;
}

.profile-nav .user-heading.round a  {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(255,255,255,0.3);
  display: inline-block;
}

.profile-nav .user-heading a img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}



/*Footer*/
#footer {
  position : absolute;
  bottom : 0;
  height : 40px;
  margin-top : 40px;
}




/* Support Cover*/
.support-nav .user-heading {
  /*background: #387ef5;*/
  background-image: url('../img/material-graphite.jpg');
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 5px;
  text-align: center;
}

.support-nav .user-heading.round a  {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(255,255,255,0.3);
  display: inline-block;
}

.support-nav .user-heading a img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.bordercate{
  border: 1px solid #ccc;
   padding: 4px 13px 2px 16px;
   /*background: #dddddd;*/
   /*width: 300px;*/
   /*background-color: yellow;*/
   border-radius: 25px;
   margin-top: 13px;

}
.bordercateadmin{
  border: 2px solid #ccc;
   /*padding: 4px 13px 2px 16px;*/
   padding: 38px 11px 36px 10px;
   border-radius: 25px;
   margin-top: 13px;
   /*border-color: red;*/
   background-color: white;
}

.bordercateadmin1{
  border: 2px solid #ccc;
   padding: 38px 11px 36px 10px;
   border-radius: 25px;
   margin-top: 13px;
    /*border-color: red;*/

}


span:active{
  background-color: #e42112;
  color: white;
}
.textCenter{
  text-align: center;
}
.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}
.scroll {
  min-width: 100%;
}
.searchsetting{
  height: 35px;
   padding:3px 1px 1px 3px;
   margin-bottom: 12px;
}
.boder{
  border-radius: 25px;
}

.detailsprice{
      font-size: x-large;
}
.detailscart{
  margin-left: -17px;
}
.imageset{
  padding-top: 10px;
  padding-left: 1px;
  padding-right: 0px;
  padding-bottom: 10px;
}
.option-selected{
        background-color: #ccc !important;
      }


hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 2px;
    background: black;
    margin-top: 0px;
}
.item-icon-right .icon {
    right: 28px;
    font-size: 24px;
  }
.lblname{
  color: #9F9F9F;
}
.errorcolor{
  color:red;
}
.space{
width: 279px; height: 35px;
}
.btnradius{
  border-radius:0px 0px 0px 0px;
}
.updateproductbtn{
  border-radius: 0px 0px 0px 0px;
  width: 50% !important;
  text-overflow: inherit;
  height: 65px;
  padding: 0px;
  min-width: 140px;
  margin: 0px;
  line-height: 20px;
  width: 50%;
  white-space: normal;
  margin-left: -5px;
  margin-right: 5px;
}
.addproductbtn{
  border-radius: 0px 0px 0px 0px;
  width: 50% !important;
  text-overflow: inherit;
  height: 65px;
  padding: 0px;
  min-width: 140px;
  margin: 0px;
  line-height: 20px;
  width: 50%;
  white-space: normal;
}
.bgcolor{
  background-color: rgba(0,0,0,.12);
}
.cancelbtn{
  margin-right: -13px;
/* margin-bottom: 49px; */
margin-top: -6px;
}
.seticon{
  margin-left: 289px;
    margin-top: 6px;
    font-size: 33px;
}
@media screen and (max-width: 640px) and (min-width: 360px) {
    .seticon {
      margin-left: 328px;
        margin-top: 6px;
        font-size: 33px;
    }
}
@media screen and (max-width: 667px) and (min-width: 375px) {
    .seticon {
      margin-left: 344px;
        margin-top: 4px;
        font-size: 33px;
    }
}

@media screen and (max-width: 732px) and (min-width: 412px) {
    .seticon {
      margin-left: 378px;
    margin-top: 4px;
    font-size: 33px;
    }
}
@media screen and (max-width: 794px) and (min-width: 1024px) {
    .seticon {
      margin-left: 394px;
        margin-top: 4px;
    }
}
@media screen and (max-width: 794px) and (min-width: 918px) {
    .seticon {
      margin-left: 394px;
        margin-top: 4px;
    }
}
.detailpageimg{
  box-shadow: none;
  width:100%;
   height:290px;
}
.homepagebodertop{
    border-top: 1px solid rgba(0, 0, 0, 0.11);
}
.homepageboderright{
  padding:1px;
  border-right:1px solid rgba(0, 0, 0, 0.11);
}
.homepageimg{
  border-width: 0px;
  border-style: none;
}
.homepageimgsize{
  width:100%;
   height:140px;
}
.homepageitem{
  border-width: 0px;
  border-style: none;
}

p.homepageprodname{
  font-size: 12px;
  text-align: left;
}
.homepageprice{
  font-weight: bold;
  color: black;
}
.homepagesecndcol{
  padding:1px;
}
.homepageioconcart{
  font-size: 25px;
  margin-right:0px;
  right:0px;
}
.adminicon{
  font-size: 25px;
    right: 0px;
}
.cartimg{
  width:100%;
  height:auto;
  box-shadow: none;
}
.namecolor{
  color: #ffffff;
}
.telecolotr{
  color: #000;
}
.emlcolor{
    color: #000;
}
.uppswcolor{
    color: #000;
}
.typclr{
  color: #ffffff;
}
.slider-pager .slider-pager-page{
  color: #fafafa;
}
.btnRadious{
font-size: 20px !important;
border-radius: 44px !important;
}
.roundBtn{
color: white;
position: relative;
display: inline-block;
margin: 0;
padding: 0 12px;
min-width: 78px;
min-height: 50px;
border-width: 1px;
border-style: solid;
vertical-align: top;
text-align: center;
text-overflow: ellipsis;
font-size: 16px;
line-height: 42px;
cursor: pointer;
background-color: #48b3e2;
padding: 16px;
margin-bottom: 25px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 75px;
      width: 249px;
}
.btnclr{
  background-color: #e42112;
}
.imgStyle{
border-radius: 50%;
width: 78px;
height: 77px;
margin-top: 9px;
}
.bar .button, .bar .button.button-flat, .bar .button.button-large, .button, .button.button-flat, .button.button-large{
box-shadow: none;
}
.card-title{
  position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
}
.slide-zoom{
  text-align: center;
display: block;
width: 100%;
}
.homesliderbox{
  visibility: visible;
      height: 37%;
}
.homepageh2{
  margin-top: 16px;
margin-bottom: -11px;
  text-align: center;
  font-size: 25px;
}
.textoverimg{
  position: relative;
    color: white;
    padding: 5px;
    background-color: rgba(119, 119, 119, 0.6);
    width: 100%;
    margin-top: -39px;
}
.editiocnset{
  position: absolute;
    margin-top: -30px;
    margin-left: 29px;
    font-size: 25px;
}
.editiocnset1{
  position: absolute;
    margin-top: -30px;
    margin-left: 53px;
    font-size: 25px;
}

.editiocnset2{
  position: absolute;
    margin-top: -30px;
    margin-left: -76px;
    font-size: 25px;
}
.card-title{
  position: absolute;
    top: 46%;
    font-size: 33px;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.slideimg{
  position: relative;
z-index: -999999;
}
/*for category page : */
.catImgStyle{
  min-width: 74px;
  min-height: 74px;
  border-radius: 0px !important;
}
.fevImgStyle{
  min-width: 74px;
  min-height: 74px;
  margin-top: -9px;
  border-radius: 0px !important;
}
.paraStyle{
  padding-left: 10px;
  white-space:normal !important;
}
.headerStyle{
  padding-left: 10px;
  font-weight: 600;
  color: slategrey;
}
/**/
.productimageset{
  padding-top: 10px;
    padding-left: 6px;
    padding-right: 4px;
    padding-bottom: 10px;
}
.categorytop{
  margin-top: -2%;
}
.bar .title{
  margin-top: 0px;
  margin-right: 4px;
  margin-bottom: 0px;
  margin-left: 4px;
}
.bar .buttons span {
    display: -webkit-box;

}
.button .icon {
    vertical-align: middle;
    pointer-events: none;
}
.subcatSelected {
  border-color: #e42112;
  background-color: #ef473a;
  background-image: linear-gradient(0deg, #e42112, #e42112 50%, transparent 50%);
  color: #fff;
}
.stable-bg {
  background-color: #fff;
}
#menu-list1 .item {
  font-size: 14px;
  width: 100%;
  color: #ef473a !important;
  border-bottom: 1px solid #ef473a;
}
.item-inner {
  background-image: url(data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%…><path%20d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z'%20fill='%23c8c7cc'/></svg>);
  padding-right: 32px;
  background-position: right 14px center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
}
.menu-right-arrow {
  left: 225px !important;
  font-size: 22px !important;
}
.menu-first-item {
  height: 150px;
  text-align: center !important;
  font-size: 20px !important;
}
.profile-avatar {
  left: 0 !important;
  right: 0;
  position: relative;
}
.item-select select{
  right: -4px;
  top: 2px;
}
.lblprod{
  color: #9F9F9F;
}
.product-detail-item {
    padding: 0 !important;
    border-width: 0px !important;
}
.product-specification-span {
  width: 50%;
  float: left;
}
.product-detail-title {
  padding-top: 0px;
  margin-left: -15px;
  font-size: 16px !important;
  margin-top: -8px;
  white-space: normal;
  line-height: normal !important;
  height: auto !important;
}
.editiocnbrand{
  position: absolute;
    margin-top: -28px;
    margin-left: 213px;
    font-size: 25px;
}
.deleteiocnbrand{
  position: absolute;
    margin-top: -30px;
    margin-left: 249px;
    font-size: 25px;
}
.editsizeicon{
  font-size: 20px;
}
.deletesizeicon{
  font-size: 20px;
}
.sizeloadsetting{
  text-align: center;
}
.fevorit{
  position: relative;
margin-top: -30px;
margin-left: 289px;
font-size: 22px;
}
.deletfevorit{
  font-size: 20px;
    margin-right: -14px;
    left: 49px;
    float: right;
    top: -21px;
    position: relative;
}
.favIconStyle{
  font-size: 25px;
  position: absolute;
  padding-left: 90%;
  padding-top: 2%;
}
.favIconClr{
  color: orangered;
}
.editBtnStyle{
  padding-left: 25%;
  width: 100%;
  background-color: silver;
  border-radius: 20%;
}
.newAddressBtnStyle{
  color:#387ef5 !important;
  border: 1px solid;
}
.addressTypeDivStyle{
  padding-left: 4%;
  font-weight: 900;
}
.checkoutAddressDiv{
  padding-left: 5%;
  padding-top: 3%;
}
.changeAddressBtnStyle{
  border-radius: 30px;
}
.checkoutModepayDiv{
  margin-right: 10px;
}
.myCartNameHeight{
  min-height: 30px;
}
.myCartBoxShadowNone{
  box-shadow: none;
}
.addressTagStyle{
  font-size: 16px;
}
.addressRadioStyle{
  margin-top: -12px;
}
